<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div th:replace="fragments :: scripts"></div>
<div th:replace="fragments :: navbar"></div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h1 class="display-4">Search</h1>
        </div>
        <div class="card-body">
            <form id="searchForm" th:action="@{/search}" method="post">
                <div class="form-row d-flex align-items-center">
                    <div class="form-group col-md-11">
                        <input id="keyword" name="keyword" class="form-control" type="text" placeholder="Search by item name or description"/>
                    </div>

                    <div class="form-group col-md-1">
                        <button form="searchForm" type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal">

</div>
</body>
</html>