<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Tasks</title>
    </head>
    <body>
        <div th:replace="fragments :: scripts"></div>
        <div th:replace="fragments :: navbar"></div>

        <div class="container">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h1 class="display-4">Tasks</h1>
                    <button class="btn btn-primary" type="button" onclick="loadCreateTaskModal()"><i class="material-icons">add</i></button>
                </div>

                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="task : ${tasks}">
                                <td th:text="${task.name}"></td>
                                <td th:text="${task.description}"></td>
                                <td>
                                    <a class="btn btn-primary" th:href="@{/tasks/complete(taskID=${task.id})}" data-toggle="tooltip" data-placement="top" title="Complete"><i class="material-icons">check</i></a>
                                    <button type="button" class="btn btn-info" th:onclick="'javascript:loadEditTaskModal(' + ${task.id} + ')'" data-toggle="tooltip" data-placement="top" title="Edit"><i class="material-icons">edit</i></button>
                                    <a class="btn btn-danger" th:href="@{/tasks/delete(taskID=${task.id})}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="material-icons">delete</i></a>
                                    <a class="btn btn-link" th:onclick="'javascript:loadAddTaskToTemplateModal(' + ${task.id} + ')'" data-toggle="tooltip" data-placement="top" title="Add to Template"><i class="material-icons">exit_to_app</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">

                </div>
            </div>
        </div>

        <div id="modal">

        </div>
    </body>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })

        function loadCreateTaskModal() {
            var url = "/tasks/create";

            $('#modal').load(url, function () {
                $('#createTaskModal').modal('show');
            })
        }

        function loadEditTaskModal(id) {
            var url = "/tasks/edit?taskID=" + id;

            $('#modal').load(url, function () {
                $('#editTaskModal').modal('show');
            })
        }

        function loadAddTaskToTemplateModal(id) {
            var url = "/tasks/addTaskToTemplate?taskID=" + id;

            $('#modal').load(url, function () {
                $('#addTaskToTemplateModal').modal('show');
            })
        }
    </script>
</html>

