<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Edit Template</title>
</head>
<body>
<div th:replace="fragments :: scripts"></div>
<div th:replace="fragments :: navbar"></div>

<div class="container">
  <div class="card mb-3">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h3>Edit Item Template</h3>
      <a class="btn btn-outline-secondary" th:href="@{/templates}">Back</a>
    </div>

    <div class="card-body">

      <form action="#" th:action="@{/templates/edit(templateID=${template.id})}" th:object="${template}" method="post" id="editTemplateForm">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="name">Title</label>
            <input class="form-control" id="name" type="text" th:field="*{name}" maxlength="100" autocomplete="off" required />
          </div>

          <div class="form-group col-md-12">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" th:field="*{description}" rows="3" maxlength="2048">

            </textarea>
          </div>
        </div>
      </form>

      <div>
        <button type="submit" form="editTemplateForm" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h3>Tasks</h3>
    </div>

    <div class="card-body">

      <table th:if="${tasks.size() > 0}" class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
          <td th:text="${task.getTask().name}"></td>
          <td th:text="${task.getTask().description}"></td>
          <td th:if="${task.getTask().startDate}" th:text="${dateFormatter.format(task.getTask().startDate)}"></td>
          <td th:unless="${task.getTask().startDate}"></td>

          <td th:if="${task.getTask().endDate}" th:text="${dateFormatter.format(task.getTask().endDate)}"></td>
          <td th:unless="${task.getTask().endDate}"></td>
          <td>
            <a class="btn btn-danger" th:href="@{/templates/deleteItemFromTemplate(templateID=${template.id},itemID=${task.id})}" data-toggle="tooltip" data-placement="top" title="Delete from Template"><i class="material-icons">delete</i></a>
          </td>
        </tr>
        </tbody>
      </table>

      <p th:unless="${tasks.size() > 0}">There are no Tasks in this Template.</p>

    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h3>Events</h3>
    </div>

    <div class="card-body">

      <table th:if="${events.size() > 0}" class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
          <td th:text="${event.getEvent().name}"></td>
          <td th:text="${event.getEvent().description}"></td>
          <td th:if="${event.getEvent().startDate}" th:text="${dateFormatter.format(event.getEvent().startDate)}"></td>
          <td th:unless="${event.getEvent().startDate}"></td>

          <td th:if="${event.getEvent().endDate}" th:text="${dateFormatter.format(event.getEvent().endDate)}"></td>
          <td th:unless="${event.getEvent().endDate}"></td>
          <td>
            <a class="btn btn-danger" th:href="@{/templates/deleteItemFromTemplate(templateID=${template.id},itemID=${event.id})}" data-toggle="tooltip" data-placement="top" title="Delete from Template"><i class="material-icons">delete</i></a>
          </td>
        </tr>
        </tbody>
      </table>

      <p th:unless="${events.size() > 0}">There are no Events in this Template.</p>

    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h3>Routines</h3>
    </div>

    <div class="card-body">

      <table th:if="${routines.size() > 0}" class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="routine : ${routines}">
          <td th:text="${routine.getRoutine().name}"></td>
          <td th:text="${routine.getRoutine().description}"></td>
          <td th:if="${routine.getRoutine().startDate}" th:text="${dateFormatter.format(routine.getRoutine().startDate)}"></td>
          <td th:unless="${routine.getRoutine().startDate}"></td>

          <td th:if="${routine.getRoutine().endDate}" th:text="${dateFormatter.format(routine.getRoutine().endDate)}"></td>
          <td th:unless="${routine.getRoutine().endDate}"></td>
          <td>
            <a class="btn btn-danger" th:href="@{/templates/deleteItemFromTemplate(templateID=${template.id},itemID=${routine.id})}" data-toggle="tooltip" data-placement="top" title="Delete from Template"><i class="material-icons">delete</i></a>
          </td>
        </tr>
        </tbody>
      </table>

      <p th:unless="${routines.size() > 0}">There are no Routines in this Template.</p>

    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h3>Reminders</h3>
    </div>

    <div class="card-body">

      <table th:if="${reminders.size() > 0}" class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reminder : ${reminders}">
          <td th:text="${reminder.getReminder().name}"></td>
          <td th:text="${reminder.getReminder().description}"></td>
          <td th:if="${reminder.getReminder().startDate}" th:text="${dateFormatter.format(reminder.getReminder().startDate)}"></td>
          <td th:unless="${reminder.getReminder().startDate}"></td>

          <td th:if="${reminder.getReminder().endDate}" th:text="${dateFormatter.format(reminder.getReminder().endDate)}"></td>
          <td th:unless="${reminder.getReminder().endDate}"></td>
          <td>
            <a class="btn btn-danger" th:href="@{/templates/deleteItemFromTemplate(templateID=${template.id},itemID=${reminder.id})}" data-toggle="tooltip" data-placement="top" title="Delete from Template"><i class="material-icons">delete</i></a>
          </td>
        </tr>
        </tbody>
      </table>

      <p th:unless="${reminders.size() > 0}">There are no Reminders in this Template.</p>

    </div>
  </div>
</div>

<div id="modal">

</div>
</body>

<script>
        function loadAddTaskToTemplateModal(id) {
            var url = "/templates/addTaskToTemplate?templateID=" + id;

            $('#modal').load(url, function () {
                $('#addTaskToTemplateModal').modal('show');
            })
        }

        function loadAddNewTaskToTemplateModal(id) {
            var url = "/templates/addNewTaskToTemplate?templateID=" + id;

            $('#modal').load(url, function () {
                $('#addNewTaskToTemplateModal').modal('show');
            })
        }

        function loadAddSubtemplateToTemplateModal(id) {
            var url = "/templates/addSubtemplateToTemplate?templateID=" + id;

            $('#modal').load(url, function () {
                $('#addSubtemplateToTemplateModal').modal('show');
            })
        }
    </script>
</html>

