<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reminders</title>
</head>
<body>
<div th:replace="fragments :: scripts"></div>
<div th:replace="fragments :: navbar"></div>

<div class="container">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h1 class="display-4">Reminders</h1>
            <button class="btn btn-success" type="button" onclick="loadCreateReminderModal()" data-toggle="tooltip" data-placement="top" title="Add Reminder"><i class="material-icons">add</i></button>
        </div>

        <div class="card-body">
            <table th:if="${reminders.size() > 0}" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reminder : ${reminders}">
                    <td th:text="${reminder.name}"></td>
                    <td th:text="${reminder.description}"></td>
                    <td th:if="${reminder.startDate}" th:text="${dateFormatter.format(reminder.startDate)}"></td>
                    <td th:unless="${reminder.startDate}"></td>
                    <td th:if="${reminder.endDate}" th:text="${dateFormatter.format(reminder.endDate)}"></td>
                    <td th:unless="${reminder.endDate}"></td>
                    <td>
                        <a class="btn btn-primary" th:onclick="'javascript:loadEditReminderModal(' + ${reminder.id} + ')'" data-toggle="tooltip" data-placement="top" title="Edit"><i class="material-icons">edit</i></a>
                        <a class="btn btn-danger" th:href="@{/reminders/delete(reminderID=${reminder.id})}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="material-icons">delete</i></a>
                        <a class="btn btn-link" th:onclick="'javascript:loadAddReminderToTemplateModal(' + ${reminder.id} + ')'" data-toggle="tooltip" data-placement="top" title="Add to Template"><i class="material-icons">exit_to_app</i></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <p th:unless="${reminders.size() > 0}">No available Reminders.</p>
        </div>

        <div class="card-footer">

        </div>
    </div>
</div>

<div id="modal">

</div>
</body>

<script>
        function loadCreateReminderModal() {
            var url = "/reminders/create";

            $('#modal').load(url, function () {
                $('#createReminderModal').modal('show');
            })
        }
        
        function loadAddReminderToTemplateModal(id) {
            var url = "/reminders/addReminderToTemplate?reminderID=" + id;

            $('#modal').load(url, function () {
                $('#addReminderToTemplateModal').modal('show');
            })
        }
        
        function loadEditReminderModal(id) {
            var url = "/reminders/edit?reminderID=" + id;

            $('#modal').load(url, function () {
                $('#editReminderModal').modal('show');
            })
        }
    </script>
</html>

