<div class="modal fade" id="addTaskToRoutineModal" tabindex="-1" role="dialog" aria-labelledby="addTaskToRoutineModalLabel"
     aria-hidden="true" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskToRoutineModalLabel">Add Existing Task to Routine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task : ${tasks}">
                        <td th:text="${task.name}"></td>
                        <td th:text="${task.description}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="@{/routines/addExistingTaskToRoutine(routineID=${routine.id},taskID=${task.id})}"><i class="material-icons">add</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>