<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Routines</title>
</head>
<body>
<div th:replace="fragments :: scripts"></div>
<div th:replace="fragments :: navbar"></div>

<div class="container">
  <div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h3>Routines</h3>
      <button class="btn btn-primary" type="button" onclick="loadCreateRoutineModal()"><i class="material-icons">add</i></button>
    </div>

    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Tasks</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="routine : ${routines}">
          <td th:text="${routine.name}"></td>
          <td th:text="${routine.description}"></td>
          <td th:text="${routine.getTasks().size()}">
          <td>
            <a class="btn btn-link" th:href="@{/routines/edit(routineID=${routine.id})}"><i class="material-icons">edit</i></a>
            <a class="btn btn-danger" th:href="@{/routines/delete(routineID=${routine.id})}"><i class="material-icons">delete</i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="card-footer">

    </div>
  </div>
</div>

<div id="modal">

</div>
</body>

<script>
        function loadCreateRoutineModal() {
            var url = "/routines/create";

            $('#modal').load(url, function () {
                $('#createRoutineModal').modal('show');
            })
        }
    </script>
</html>

